/*Global Styles*/

*, *::after, *:before {
    box-sizing: border-box;
}

p {
    margin: .75em 1.5em;
}


.wrapper {
	width: 80%;
	margin: 0 auto;
}

#video-container {
	padding-bottom: 50px;
}

#text-transcript {
	line-height: 1.5em;
	font-size: 1.2em;
	cursor: pointer;
}


.mejs-container .mejs-controls {
	position: absolute;
	height: 50px;
	background: none;
}


.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-time-rail .mejs-time-slider {
	height: 4px;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-controls .mejs-time-rail .mejs-time-slider {
	width: 99% !important;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: #ef7510;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: white;
	width: 100% !important;
	opacity: 0.4;
}

.mejs-controls .mejs-time-rail {
	position: absolute;
	left: 0;
	top: -15px;
	width: 100% !important;
}


.mejs-controls .mejs-play button {
	    background: transparent url('../icons/play-icon.png') no-repeat;
	    background-size: 70%;
	    width: 100%;
	    height: 100%;
}

.mejs-controls .mejs-pause button {
	    background: transparent url('../icons/pause-icon.png') no-repeat;
	    background-size: 65%;
	    width: 100%;
	    height: 100%;
}

.mejs-container .mejs-controls .mejs-playpause-button {
		position: absolute;
		left: 12px;
	    width: 35px;
	    height: 35px;
	    margin-top: 2px;
}

.mejs-controls .mejs-fullscreen-button button {
	    background: transparent url('../icons/fullscreen-icon.png') no-repeat;
	    background-position: right;
	    background-size: 95%;
	    width: 100%;
	    height: 100%;
	    margin: 0;
}

.mejs-container .mejs-controls .mejs-fullscreen-button{
		position: absolute;
		right: 20px;
	    width: 30px;
	    height: 30px;
	    margin-top: 9px;
}

.mejs-controls .mejs-mute button {
		background: transparent url('../icons/volume-on-icon.png') no-repeat;
	    background-position: right;
	    background-size: 100%;
	    width: 100%;
	    height: 100%;
	    margin: 0;
}

.mejs-controls .mejs-unmute button {
		background: transparent url('../icons/volume-off-icon.png') no-repeat;
	    background-position: right;
	    background-size: 100%;
	    width: 100%;
	    height: 100%;
	    margin: 0;
}

.mejs-container .mejs-controls .mejs-volume-button{
		position: absolute;
	    right: 60px;
	    width: 30px;
	    height: 30px;
	    margin-top: 9px;
}

.mejs-container .mejs-controls .mejs-volume-button .mejs-volume-slider {
	top: -129px;
}

.mejs-container .mejs-controls .mejs-time {
	font-size: 0.95em;
	padding: 17px 0px 0 12px;
}

.mejs-container .mejs-controls .mejs-time .mejs-currenttime {
	padding-left: 45px;
}

.mejs-container .mejs-controls .mejs-time .mejs-currenttime:after {
	padding-left: 10px;
	content: " / "
}

    /*Colors for transcript highlights*/
    .active-cue { 
        color: #ed8004;
        transition: all .6s ease-in-out;
    }
    
    .inactive-cue {
        color: #645f5f;
        transition: all .6s ease-in-out;
    }
    
    .mejs-container .mejs-controls .mejs-playpause-button,
    .mejs-container .mejs-controls .mejs-time,
    .mejs-container .mejs-controls .mejs-volume-button,
    .mejs-container .mejs-controls .mejs-fullscreen-button {
    	display: none;
    }

    .mejs-container .mejs-controls {
    	height: 5px;
   		transition: all .5s ease .15s;
    }

    .mejs-container:hover .mejs-controls .mejs-playpause-button,
    .mejs-container:hover .mejs-controls .mejs-time,
    .mejs-container:hover .mejs-controls .mejs-volume-button,
    .mejs-container:hover .mejs-controls .mejs-fullscreen-button {
    	display: inline;
    }

    .mejs-container:hover .mejs-controls {
    	height: 50px;
    	transition: all .5s ease .15s;
    }




